{% extends 'baskets/base.html' %}

{% load widget_tweaks %}

{% block basket_id %} Korb {{ basket_id }} {% endblock %}

{% block current_basket_value %} {{ basket_sum|stringformat:".2f" }} EUR {% endblock %}
 

{% block content %}

  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-half w3-padding-16">
{% comment %}
      <form class="w3-container" action="{% url 'add_item' basket_id %}" method="post">
{% endcomment %}
      <form class="w3-container" method="post">
      {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
  {% for field in form.visible_fields %}
    <p>
    {{ field.errors }}
    {% render_field field class="w3-input w3-border" placeholder=field.label %}
    </p>
  {% endfor %}

        <button class="mybtn btn_add">hinzufügen</button>
        {% if item_list %}
          <a href="{% url 'add_basket' %}" class="mybtn btn_payed">neu</a>
        {% endif %}
      </form>
    </div>
    <div class="w3-half">
      <table class="w3-table-all w3-card-4">
        <tr>
          <th>Preis</th>
          <th>Verkäufer</th>
          <th>Löschen</th>
        </tr>
      {% for item in item_list %}
        <tr>
          <td>{{ item.price|stringformat:".2f" }} EUR</td>
          <td>#{{item.vendorID.vendor_number|stringformat:"4.0f" }}</td>
          <td><a href="{% url 'delete_item' basket_id item.id%}" class="boldlink">X</a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
