{% extends 'baskets/base.html' %}

{% block basket_id %}{{ current_event }}{% endblock %}

{% block content %}
  {% if basket_list %}
      <table class="w3-table-all w3-hoverable w3-card-4">
        <tr>
          <th>Warenkorb</th>
          <th>Besitzer</th>
          <th>Datum</th>
          <th>Event</th>
        </tr>
      {% for basket in basket_list %}
        <tr>
            <td><a href="/baskets/{{ basket.id }}/">Korb {{ basket.id }}</a></td>
            <td>{{ basket.created_by }}</td>
            <td>{{ basket.last_modified|date:'H:i (d. N y)' }}</td>
            <td>{{ basket.event.event_name }}</td>
        </tr>
      {% endfor %}
      </table>
  {% else %}
  <p>Es gibt noch keine Warenkörbe für dieses Event. <br>
  Warenkorb <a href="{% url 'add_basket'%}">anlegen</a>?</p>
  {% endif %}

{% endblock %}
